{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Вход в систему</h4>
            </div>
            <div class="card-body">
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger">{{ messages[0] }}</div>
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Логин</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}